{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        username = request.form.get("username")
    password = request.form.get("password")
    confirmation = request.form.get("confirmation")
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of stocks" type="text">
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>
{% endblock %}